#header {
  background-color: black;

  font-size: 17px;
  width: 100%;
  text-align: center; padding: 5px 35px 2px 45px;
  border-bottom: 3px solid transparent;
  line-height: 97px;
  text-decoration: none;
  transition: border-bottom-color 0.5s ease-in-out;
  -webkit-transition: border-bottom-color 0.5s ease-in-out; 
}
#main {
    glyph-orientation-horizontal: inherit;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
